<div class="edit-banner">
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="container-edit">
        <h1>Edit</h1>
        <%= simple_form_for @space do |f| %>
           <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :address %>
            <%= f.input :price_per_day %>
            <%= f.input :description %>
            <%= f.input :floor_space %>
            <%= f.input :heating, inline_label: 'Heating' %>
            <%= f.input :internet, inline_label: 'Internet' %>
            <%= f.input :lighting, inline_label: 'Lighting' %>
            <%= f.input :availability_status, inline_label: 'Is this available?' %>
            <%= f.input :photo, as: :file %>
           </div>
           <div class="form-actions">
            <div><%= f.button :submit, class: "btn btn-flat"%></div>
           </div>
        <% end %>
<!--         <div><%= link_to "< cancel", space_path(@space), class: "btn btn-ghost" %></div> -->
      </div>
    </div>
  </div>
</div>
<br><br>
