<div class="index-banner">
</div>

<div class="container mt-3">
  <div class="text-center">
    <h1><strong>All of the spaces near you</strong></h1>
    <br>
    <% if policy(Space).create? %>
      <%= link_to "Share your own space!", new_space_path, class: 'btn btn-ghost' %>
    <% end %>
  </div>
</div>

<br>

<div class="home-container">
  <div class="content">
    <div class="cards">
      <% @spaces.each do |space| %>
        <div class="card-space">
          <div class="card-image">
            <% if space.photo.attached?  %>
              <%= cl_image_tag(space.photo.key) %>
            <% else %>
              <img src="https://source.unsplash.com/random/?stores" alt="">
            <% end %>
          </div>
          <div class="card-space-info">
            <div>
              <h2 class="card-trip-pricing">$<%= space.price_per_day %><span>/day</span></h2>
              <h2><%= link_to space.title, space_path(space), class: 'card-link' %></h2>
              <p><%= space.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoieWtvb2thYXNpIiwiYSI6ImNrZ3c5MW1neDA1bzAycnFjeXF6Z2NpNmsifQ.ZgvN0i2aOJW3PHqtqALUyA'>
  </div>
</div>
