

<div class="container mt-5">
  <div class="text-center">
    <br>
    <h1>All of the spaces near you</h1>
    <br>
    <% if policy(Space).create? %>
      <%= link_to "Create new space", new_space_path, class: 'btn btn-ghost' %>
    <% end %>
  </div>
</div>

<br>

  <div class="home-container">
    <div class="content">

      <div class="cards">

        <% @spaces.each do |space| %>
        <div class="card-space">
          <div class="card-image">
            <% if space.photo.attached?  %>
              <%= cl_image_tag(space.photo.key) %>
            <% else %>
              <img src="https://source.unsplash.com/random/?stores" alt="">
            <% end %>
          </div>
          <div class="card-space-info">
            <div>
              <h2 class="card-trip-pricing"><strong>£<%= space.price_per_day %></strong>/day</h2>
              <h2><%= link_to space.title, space_path(space) %></h2>
              <p><%= space.address %></p>
            </div>
          </div>
        </div>
        <% end %>

      </div>

      <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>

    </div>
  </div>


