<div class="container mt-3">
  <% if @space.photo.attached? %>
    <div
      class="space-banner"
      id=“card-book-form”
      style="background-image: linear-gradient(rgba(55, 63, 81,0.4),rgba(55, 63, 81,0.3)),
      url('<%= cl_image_path @space.photo.key %>');">
    </div>
  <% else %>
    <div
      class="space-banner"
      id=“card-book-form”
      style="background-image: linear-gradient(rgba(55, 63, 81,0.4),rgba(55, 63, 81,0.3)),
      url('https://res.cloudinary.com/tayloreaw/image/upload/v1605799990/xgimxvzie7c1gsl24xjm.jpg');">
    </div>
  <% end %>
  <div class="space-header">
    <div><%= link_to "< Back", spaces_path %></div>
    <h1><%= @space.title %></h1>
    <p><em><%= @space.address %></em></p>
    <p>--------------------</p>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <div class="space-description">
            <p><%= @space.description %></p>
            <h2>$<%= @space.price_per_day %></h2>
            <br>
            <% if policy(@space).edit? %>
              <p><%= link_to "Update info", edit_space_path(@space), class: "btn btn-ghost" %></p>
            <% end %>
            <% if policy(@space).destroy? %>
              <p><%= link_to "Remove this space", space_path(@space), method: :delete, data: {confirm: 'Are you sure you want to renove this space?'}, class: "btn btn-ghost"  %></p>
            <% end %>
          </div>
        </div>
        <div class="col-4">
          <p>Floor space: <%= @space.floor_space %>sqm</p>
          <% if @space.internet?  %>
            <div class="icon-show"><i class="far fa-check-circle"></i><span> Internet</span></div>
          <% else %>
            <div class="icon-show"><i class="far fa-circle"></i><span> Internet</span></div>
          <% end %>
          <% if @space.heating?  %>
            <div class="icon-show"><i class="far fa-check-circle"></i><span> Heating</span></div>
          <% else %>
            <div class="icon-show"><i class="far fa-circle"></i><span> Heating</span></div>
          <% end %>
          <% if @space.lighting?  %>
            <div class="icon-show"><i class="far fa-check-circle"></i><span> Lighting</span></div>
          <% else %>
            <div class="icon-show"><i class="far fa-circle"></i><span> Lighting</span></div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @user != @space.user %>

    <div class="col-4">
      <div class="card-book">
          <h2 class="text-center">Book this Space</h2>
          <% if policy(Booking).create? %>
            <%= simple_form_for([@space, @booking], remote: true) do |f| %>
              <div class="form-inputs">
                <%= f.input :start_date %>
                <%= f.input :end_date %>
              </div>
              <br>
              <div class="form-actions text-center">
                <%= f.button :submit, class: "btn btn-flat"%>
              </div>
            <% end %>
          <% end %>
         </div>
       </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-10 col-6">
      <div class="card-upload">
        <% if @space.photo.attached?  %>
          <%= cl_image_tag @space.photo.key, height: 560 %>
        <% else %>
          <img src="https://source.unsplash.com/random/?stores" class=""  height="560" alt="">
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-map">
        <div id="map"
             style="width: 100%; height: 280px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="back-button"><%= link_to "< Back to List", spaces_path, class: "btn btn-flat" %></div>
</div>
<br><br>
