<h1><%= @space.title %></h1>

<div class="container">
  <div class="row">
    <div class="col">
      <p>Name: <%= @space.title %></p>
      <p>About: <%= @space.description %></p>
      <p>Address: <%= @space.address %>
      <p>Available for rent: <%= @space.availability_status %>
      <p>Price: <%= @space.price_per_day %>
    </div>
    <div class="col">
      <p>Floor space: <%= @space.floor_space %></p>
      <p>Internet: <%= @space.internet %></p>
      <p>Heating: <%= @space.heating %></p>
      <p>Lighting: <%= @space.lighting %></p>
    </div>
  </div>
  <div>
    <h2>Map goes here</h2>
  </div>
</div>
<%= link_to "Edit this space", edit_space_path(@space)  %><br>

<%= link_to "Remove this space", space_path(@space), method: :delete, data: {confirm: 'Are you sure you want to renove this space?'}  %><br>

<%= link_to "All spaces", spaces_path %>