<div class="container mt-3">
  <div class="col-4">
    <h1>Your Spaces</h1>
      <% current_user.spaces.each do |space| %>
        <p><%= space.title %></p>
        <p><%= space.address %></p>
        <p><%= space.description %></p>
        <p><%= space.price_per_day %></p>
        <%= link_to "View your space", space_path(space)  %>
        <%= link_to "Update this space?", edit_space_path(space)  %>
    <% end %>
  </div>
  
  <div class="col-4" id="user_bookings">
    <h1>Your bookings</h1>
      <% if !@my_bookings.empty? %>
        <% @my_bookings.each do |booking| %>
          <p><%= booking.space.title %></p>
          <p><%= booking.space.address %></p>
          <p><%= booking.space.description %></p>
          <p><%= booking.space.price_per_day %></p>
        <% end %>
      <% else %>
        <p>Why not explore some <%= link_to "new spaces?", spaces_path %></p>
      <% end %>
  </div>

  <div class="col-4" id= "space_bookings">
    <h1>Your spaces rented out</h1>
    <% if !@my_space_bookings.empty? %>
      <% @my_space_bookings.each do |booking| %>
        <% if !booking.nil? %>
        <p><%= booking.space.title %></p>
        <p><%= booking.space.address %></p>
        <p><%= booking.space.description %></p>
        <p><%= booking.space.price_per_day %></p>
        <% end %>
      <% end %>
    <% else %>
      <p>Your spaces have not been booked yet</p>
    <% end %>
  </div>
</div>

